// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Form Button Styles
 *-------------------------------------- */

button, input[type='submit'], input[type='button'], .btn  {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.btn {
  display: inline-block;
  font-family: $font-family-base;
  @include font-size-line-height(1.333rem, 2rem);
  @include border-radius();
  color: $white;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.6rem 1.2rem;
  @include font-size-line-height(1.4rem, 2.2rem);
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.3rem 0.6rem;
  @include font-size-line-height(1.2rem, 1.8rem);
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 0.1rem 0.4rem;
  @include font-size-line-height(1.2rem, 1.6rem);
}

.btn[disabled] {
  background-color: $gray;
  border-color: darken($gray, 10%);
  color: $lightgray;
  pointer-events: none;
}

.btn-round {
  height: 5rem;
  width: 5rem;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0;
}

.btn-primary {
  @extend .btn;

  background-color: $primary;
  border-color: darken($primary, 10%);
  color: $primary-complement;

  &:hover, &:focus, &:active {
    background-color: tint($primary, 10%);
    border-color: darken(tint($primary, 10%), 10%);
    color: $primary-complement;
  }
}

.btn-primary-complement {
  @extend .btn;

  background-color: $primary-complement;
  border-color: darken($primary-complement, 10%);
  color: $primary;

  &:hover, &:focus, &:active {
    background-color: tint($primary-complement, 10%);
    border-color: darken(tint($primary-complement, 10%), 10%);
    color: $primary;
  }
}

.btn-secondary {
  @extend .btn;

  background-color: $secondary;
  border-color: darken($secondary, 10%);
  color: $secondary-complement;

  &:hover, &:focus, &:active {
    background-color: tint($secondary, 10%);
    border-color: darken(tint($secondary, 10%), 10%);
    color: $secondary-complement;
  }
}

.btn-secondary-complement {
  @extend .btn;

  background-color: $secondary-complement;
  border-color: darken($secondary-complement, 10%);
  color: $secondary;

  &:hover, &:focus, &:active {
    background-color: tint($secondary-complement, 10%);
    border-color: darken(tint($secondary-complement, 10%), 10%);
    color: $secondary;
  }
}

.btn-tertiary {
  @extend .btn;

  background-color: $tertiary;
  border-color: darken($tertiary, 10%);
  color: $tertiary-complement;

  &:hover, &:focus, &:active {
    background-color: tint($tertiary, 10%);
    border-color: darken(tint($tertiary, 10%), 10%);
    color: $tertiary-complement;
  }
}

.btn-tertiary-complement {
  @extend .btn;

  background-color: $tertiary-complement;
  border-color: darken($tertiary-complement, 10%);
  color: $tertiary;

  &:hover, &:focus, &:active {
    background-color: tint($tertiary-complement, 10%);
    border-color: darken(tint($tertiary-complement, 10%), 10%);
    color: $tertiary;
  }
}

.btn-default {
  @extend .btn;

  background-color: $tertiary;
  border-color: darken($tertiary, 10%);
  color: $white;

  &:hover, &:focus, &:active {
    background-color: tint($tertiary, 5%);
    border-color: darken(tint($tertiary, 5%), 10%);
    color: $white;
  }
}

.btn-link {
  @extend .btn;

  background-color: transparent;
  border-color: transparent;
  color: $link-color;

  &:hover, &:focus, &:active {
    background-color: transparent;
    border-color: transparent;
    color: tint($link-color, 10%);
  }

  &.danger {
    color: #ca332d;

    &:hover, &:focus, &:active {
      color: tint(#ca332d, 10%);
    }
  }
}

.btn-subtle {
  @extend .btn;

  background-color: #E9E9E9;
  border-color: darken(#E9E9E9, 10%);
  color: $black;

  &:hover, &:focus, &:active {
    background-color: tint(#E9E9E9, 5%);
    border-color: darken(tint(#E9E9E9, 5%), 10%);
    color: $black;
  }
}

.input-group-addon:not(:first-child):not(:last-child) {
  border-right: 0;
  border-left: 0;
}
