// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Form Button Styles
 *-------------------------------------- */

button, input[type='submit'], input[type='button'], .btn  {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

button[data-button-type=submit-page] {
    float: right;
}

.btn {
  display: inline-block;
  line-height: 2rem;
  background-color: $tertiary;
  padding: .8rem .6rem;
  border-radius: .4rem ;
  border-color: transparent;
  color: $white;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &.btn-subtle {
    background-color: subtle($tertiary, 80%);
    color: $gray;
    &:hover {
      color: $darkgray;
    }
  }
}
.btn.btn-xs{
  padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

.btn[disabled] {
  background-color: $gray;
  color: $lightgray;
  pointer-events: none;
}

.btn-round {
  height: 5rem;
  width: 5rem;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0;
}

.btn-primary {
  @extend .btn;

  background-color: $primary;
  border-color: darken($primary, 10%);
  color: $primary-complement;

  &:hover {
    background-color: tint($primary, 10%);
    border-color: darken(tint($primary, 10%), 10%);
  }
}

.btn-primary-complement {
  @extend .btn;

  background-color: $primary-complement;
  border-color: darken($primary-complement, 10%);
  color: $primary;

  &:hover {
    background-color: tint($primary-complement, 10%);
    border-color: darken(tint($primary-complement, 10%), 10%);
  }
}

.btn-secondary {
  @extend .btn;

  background-color: $secondary;
  border-color: darken($secondary, 10%);
  color: $secondary-complement;

  &:hover {
    background-color: tint($secondary, 10%);
    border-color: darken(tint($secondary, 10%), 10%);
  }
}

.btn-secondary-complement {
  @extend .btn;

  background-color: $secondary-complement;
  border-color: darken($secondary-complement, 10%);
  color: $secondary;

  &:hover {
    background-color: tint($secondary-complement, 10%);
    border-color: darken(tint($secondary-complement, 10%), 10%);
  }
}

.btn-tertiary {
  @extend .btn;

  background-color: $tertiary;
  border-color: darken($tertiary, 10%);
  color: $tertiary-complement;

  &:hover {
    background-color: tint($tertiary, 10%);
    border-color: darken(tint($tertiary, 10%), 10%);
  }
}

.btn-tertiary-complement {
  @extend .btn;

  background-color: $tertiary-complement;
  border-color: darken($tertiary-complement, 10%);
  color: $tertiary;

  &:hover {
    background-color: tint($tertiary-complement, 10%);
    border-color: darken(tint($tertiary-complement, 10%), 10%);
  }
}

.btn-link {
  @extend .btn;

  background-color: transparent;
  border-color: transparent;
  color: $link-color;

  &:hover {
    color: tint($link-color, 15%);
  }
}
&.btn-success {
  @extend .btn;

  background-color: green;
  border-color: transparent;
  color: $white;

  &:hover {
    color: $white;
  }
}
