.checkbox.required label:first-child:after,
.radio.required label:first-child:after,
.form-group.required label:after,
label.required:after {
  content: '*';
  color: red;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Forms
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

input[type='text'],
input[type='text'].form-control,
input[type='password'],
input[type='password'].form-control,
textarea,
textarea.form-control,
div.form-control,
select.form-control,
select {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 30px;
  color: $text-color;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-image: initial;
  outline: none;
  padding: 0.4rem 0.8rem;
  @include font-size-line-height(1.333rem, 2rem);
  @include border-radius();
  transition: border-color .3s linear;
  &:focus {
    border-color: $tertiary;
  }
}

select[multiple],
select.form-control[multiple] {
  height: auto;
}
textarea,
textarea.form-control {
  resize: vertical;
  height: auto;
}

input:disabled,
input.form-control:disabled,
select:disabled,
select.form-control:disabled,
textarea:disabled,
textarea.form-control:disabled,
div.form-control {
  background-color: rgb(236, 236, 236);
  color: $darkestgray;
  cursor: default;
  opacity: 1;
}
select option:disabled {
  background-color: rgb(236, 236, 236);
}

input[readonly],
input.form-control[readonly],
select[readonly],
select.form-control[readonly],
textarea[readonly],
textarea.form-control[readonly],
div.form-control {
  background-color: rgb(248, 248, 248);
  cursor: default;

  &:focus {
    border-color: rgb(168, 168, 168);
  }
}

.form-group:after {
  content:" ";
  display:block;
  clear:both;
}

.checkbox.required label:first-child:after,
.radio.required label:first-child:after,
.form-group.required label:after,
label.required:after {
  content: '*';
  color: red;
}

label {
  color: $darkgray;
  display: block;
  @include font-size(1.4rem);
  font-weight: 600;
  margin-bottom: 0px;
}
label.field-label {
  margin-top: 5px;
  padding: 0;
  width: 100%;
}

/* Requested For search display
 *-------------------------------------- */
.requested-for-display-name {
  label {
    color: $primary;
    padding-left: 0;
  }
  span.fa.fa-edit {
    cursor: pointer;
  }
  .display-info {
    padding: 0;
  }
}

.tt-menu {
  background: rgb(255, 255, 255);
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  .fa.pull-left {
    margin: 0;
  }
}
.tt-input {
  min-height: 3rem;
  border: 1px solid $lightgray;
  width: 35rem;
}

/* Section Page > Form
 *-------------------------------------- */
section.page {
  .page-header {
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  form {
    margin: 1.5rem 0;
    font-weight: 400;
    overflow: hidden;
    padding: 1rem;
    background-color: #f5f5f5;
    @include border-radius();
    box-shadow: 0 1px 3px rgba(49, 62, 71, 0.14);
    clear: both;

    section {
      display: block;
      margin-bottom: 2rem;
    }

    h1{
      padding:0 0 1rem;
    }

    .radio,
    .checkbox {
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
      }

      label {
        margin-bottom: 0;
        margin: 0 0 1rem 0;
        font-weight: 600;
        cursor: pointer;

        &:first-child:not(.field-label) {
          margin-right: 2rem;
          margin-left: 1rem;
        }

        &:not(.field-label) {
          float: left;
          margin-right: 1.5rem;
          margin-left: .1rem;
        }
      }

      &.vertical label:not(.field-label){
        clear: both;
      }

      &.disabled label:not(.field-label) {
        opacity: 0.85;
      }
    }

    button[data-element-type="button"] {
      display: inline-block;
      line-height: 1.8rem;
      @include border-radius();
      padding: 0.5rem;
      border-width: 1px;
      border-style: solid;
      color: $black;
      background-color: #E9E9E9;
      cursor: pointer;
      font-size: inherit;
      margin-left: 0.5rem;

      &[data-button-type="submit-page"],
      &[data-button-type="custom"] {
        @extend .btn-default;
      }
      &[data-button-type="custom"].btn-link {
        @extend .btn-link;
      }
      &[data-button-type="custom"].btn-subtle {
        @extend .btn-subtle;
      }

      &[data-button-type="previous-page"] {
        @extend .btn-default;
        float: left;
        margin-right: 0.5rem;
        margin-left: 0;
      }

      &[data-button-type="save"] {
        @extend .btn-subtle;
        position: relative;
        padding-left: 2.4rem;

        &:before {
          font-family: 'FontAwesome';
          font-weight: 400;
          content: '\f0c7';
          position: absolute;
          top: 50%;
          left: 0.5rem;
          width: 1.4rem;
          height: 1.4rem;
          line-height: 1;
          margin-top: -0.7rem;
        }
      }
    }

    .fileinput-button {
      @extend .btn-subtle;
    }

    /* Attachment files
     *-------------------------------------- */
    .empty > .file-table > .file-header {
      display: none;
    }
    .file-table {
      display: table;
      margin: 0px;
      padding: 0px;

      .file-header {
        display: table-header-group;
        color: $darkgray;
      }
      .file-row {
        display: table-row;
        > span {
          display: table-cell;
          padding: .5rem;
          > a {
            padding: 0 .5rem;
          }
        }
      }
      .file-container {
        display: table-row-group;
      }
    }
  }

  &.embedded {
    form {
      margin: 0;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

/* Media Queries
 *-------------------------------------- */

@media (max-width: 991px) {
  label.field-label {
    width: 100%;
    float: none;
  }
}
