/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Type
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

 // heading, display classes, block quote, lists, and horizontal rule

/* Miscellaneous Elements
 *-------------------------------------- */
// Truncates long text with ellipsis
.ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Labels
 *-------------------------------------- */
.label {
  font-size: 85%;
  padding: 0.1rem 0.6rem 0.2rem;
}

/* Text utilities
 *-------------------------------------- */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.strong {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.nowrap {
  white-space: nowrap;
}

/* Headings
 *-------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  //font-weight: 700;
  color: $gray;
  > small {
    line-height: inherit;
  }
  > .label, .base-font {
    font-family: $font-family-base;
  }
}

h6 {
  @include font-size-line-height(1.6rem, 2rem);
}

h5 {
  @include font-size-line-height(1.8rem, 2.2rem);
}

h4 {
  @include font-size-line-height(2rem, 2.4rem);
  }

h3 {
  @include font-size-line-height(2.2rem, 2.6rem);
}

h2 {
  @include font-size-line-height(2.4rem, 2.8rem);
}

h1 {
  @include font-size-line-height(2.6rem, 3rem);
}

/* Font family
 * ----------------------------------- */
 /* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../font/source-sans-pro-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('../font/source-sans-pro-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../font/source-sans-pro-v9-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
       url('../font/source-sans-pro-v9-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-300italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../font/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../font/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../font/source-sans-pro-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
       url('../font/source-sans-pro-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../font/source-sans-pro-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../font/source-sans-pro-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../font/source-sans-pro-v9-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
       url('../font/source-sans-pro-v9-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../font/source-sans-pro-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../font/source-sans-pro-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../font/source-sans-pro-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
       url('../font/source-sans-pro-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro-v9-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../font/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../font/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../font/montserrat-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('../font/montserrat-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v10-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../font/montserrat-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../font/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v10-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../font/montserrat-v10-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
       url('../font/montserrat-v10-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v10-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v10-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v10-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v10-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
