.row
  .col-xs-12.col-md-4
    div
      a.btn.btn-default.btn-block(href="",data-ng-click="vm.setup.doDefaults()") Set Defaults
      a.btn.btn-default.btn-block(href="",data-ng-click="vm.setup.save()",data-ng-disabled="vm.setup.isSetupValid()") Save Changes
      a.btn.btn-default.btn-block(href="",data-ui-sref="queue") Go To Queue
  .col-xs-12.col-md-8
    h3 Kapp Setup
    
    div(data-ng-if="vm.readyToEdit")
      .row
        .col-xs-6
          .form-group
            label.control-label Queue Name
            input.form-control(type="text",data-ng-model="vm.queueNameAttribute.values[0]")
        .col-xs-6
          .form-group
            label.control-label Queue Type
            input.form-control(type="text",data-ng-model="vm.queueTypeAttribute.values[0]")
      .row
        .col-xs-6
          .form-group
            label.control-label Queue Details Value
            input.form-control(type="text",data-ng-model="vm.queueDetailsAttribute.values[0]")
        .col-xs-6
          .form-group
            label.control-label Default Assigned Group
            input.form-control(type="text",data-ng-model="vm.queueDefaultGroup.values[0]")
      .row
        .col-xs-12
          .form-group
            label.control-label Helper Kapp
            select.form-control(data-ng-model="vm.helperKappAttribute.values[0]",data-ng-options="kapp.slug as kapp.name for kapp in vm.kapps")
      .row
        .col-xs-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title Initial Form Generation
            .panel-body
              .row
                .col-xs-4
                  .form-group
                    label.control-label Create Initial Form?
                      input.form-control(type="checkbox",data-ng-model="vm.setup.shouldCreateForm") 
                .col-xs-8(data-ng-if="vm.setup.shouldCreateForm")
                  .form-group
                    label.control-label Form Name
                    input.form-control(type="text",data-ng-model="vm.setup.initialForm.name")
                  .form-group
                    label.control-label Form Slug
                    input.form-control(type="text",data-ng-model="vm.setup.initialForm.slug")
      .row
        .col-xs-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title Queue Filter Configuration
            .panel-body
              .row
                .col-xs-12
                  ul(dnd-list="vm.queueFilterAttribute.values")
                    li.filter-item(
                      data-ng-repeat="filter in vm.queueFilterAttribute.values",
                      dnd-draggable="filter",
                      dnd-moved="vm.queueFilterAttribute.values.splice($index, 1)",
                      dnd-effect-allowed="move"
                    ) 
                      | {{filter.name}} 
                      .filter-actions.btn-group.pull-right
                        a.btn.btn-xs.btn-primary(href="",data-ng-click="vm.setup.editFilter(filter)")
                          span.fa.fa-fw.fa-pencil
                        a.btn.btn-xs.btn-danger(href="",data-ng-click="vm.setup.removeFilter($index)")
                          span.fa.fa-fw.fa-minus
                    li
                      .row
                        .col-xs-11
                          input.form-control(type="text",data-ng-model="vm.setup.tmpFilterName",placeholder="Queue Filter Name")
                        .col-xs-1
                          a.btn.btn-xs.btn-success(href="",data-ng-click="vm.setup.addFilter()") 
                            i.fa.fa-fw.fa-plus       
