nav.navbar.navbar-default.navbar-fixed-top
   .container
      .navbar-header
         button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(data-ui-sref="loggingIn",data-ui-sref-opts="{reload:true}") {{layout.kappName}}
      div.navbar-collapse.collapse#navbar
main
   div.container(data-ui-view="")

