.row
  .col-sm-2.col-xs-12(data-ng-class="{'hidden-xs': !queue.shouldShowFilters()}",fixed-height="",fh-bottom-pad="70")
    button.btn.btn-primary.btn-xs.visible-xs(type="button",data-ng-click="queue.showList()")
      span.fa.fa-mail-forward
    .form-group
      label #[strong Team:]
      br
      select.form-control(data-ng-model="queue.filterName",data-ng-change="queue.changeFilter()")
        option(data-ng-if="!queue.filterIsSelectable() && queue.filterName === ''",value="") Choose Team
        option(data-ng-if="!queue.filterIsSelectable() && queue.filterName === '__show__'",value="__show__") Choose Team
        option(data-ng-repeat="filter in queue.filters | filter:{visible: true}",ng-selected="queue.isSelectedFilter(filter)",value="{{filter.name}}") {{filter.name}}
    ul.nav.nav-stacked(data-ng-if="queue.filterName")
      li(data-ng-class="{'active': queue.isFilterActive('Open')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Open'})") Open&nbsp;
          span.pull-right.badge {{queue.stats.totalOpen}}
      li(data-ng-class="{'active': queue.isFilterActive('Past Due')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Past Due'})") Past Due&nbsp;
          span.pull-right.badge {{queue.stats.pastDue}}
      li(data-ng-class="{'active': queue.isFilterActive('Due Today')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Due Today'})") Due Today&nbsp;
          span.pull-right.badge {{queue.stats.dueToday}}
      li(data-ng-class="{'active': queue.isFilterActive('Recent Hour')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Recent Hour'})", data-ui-sref-opts="{reload:true}") Recent Hour
      li(data-ng-class="{'active': queue.isFilterActive('Recent Day')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Recent Day'})", data-ui-sref-opts="{reload:true}") Recent Day
    .teams-container(data-ng-if="queue.shouldShowTeams()")
      hr
      h5(data-ng-if="!queue.hasTeamsKapp()") {{queue.filterName}} Team
      h5(data-ng-if="queue.hasTeamsKapp()")
        a(href="{{queue.getTeamLink(queue.filterName)}}",target="_blank") {{queue.filterName}} Team

      ul.list-unstyled
        li
          | Team Members&nbsp;
          span.badge {{queue.stats.teamMembers}}
        li
          | Active Members&nbsp;
          span.badge {{queue.stats.activeMembers}}
    button.btn.btn-block.btn-success(type="button",data-ui-sref="queue.create") New
  .col-xs-12.col-sm-10
    div(data-ui-view="")
