.row
  .col-sm-2.col-xs-12(data-ng-class="{'hidden-xs': !queue.shouldShowFilters()}",fixed-height="",fh-bottom-pad="70")
    button.btn.btn-primary.btn-xs.visible-xs(type="button",data-ng-click="queue.showList()")
      span.fa.fa-mail-forward
    .form-group
      label #[strong Team:]
      br
      .btn-group(uib-dropdown="",style="width: 100%;")
        button.btn.btn-default(type="button",uib-dropdown-toggle="")
          | {{queue.filterName || 'Choose Team'}}&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu,role="menu")
          li(role="menuitem",data-ng-repeat="filter in queue.filters")
            a(href="",data-ui-sref="queue.by({filterName: filter.name, filterType: 'Open'})", data-ui-sref-opts="{reload:true}") {{filter.name}}
    ul.nav.nav-pills.nav-stacked(data-ng-if="queue.filterName")
      li(data-ng-class="{'active': queue.isFilterActive('Open')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Open'})") Open&nbsp;
          span.pull-right.badge {{queue.stats.totalOpen}}
      li(data-ng-class="{'active': queue.isFilterActive('Backlog')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Backlog'})") Backlog&nbsp;
          span.pull-right.badge {{queue.stats.backlog}}
      li(data-ng-class="{'active': queue.isFilterActive('Due Today')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Due Today'})") Due Today&nbsp;
          span.pull-right.badge {{queue.stats.dueToday}}
      li(data-ng-class="{'active': queue.isFilterActive('Recent Hour')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Recent Hour'})", data-ui-sref-opts="{reload:true}") Recent Hour
      li(data-ng-class="{'active': queue.isFilterActive('Recent Day')}")
        a(href="",data-ui-sref="queue.by({filterName: queue.filterName, filterType: 'Recent Day'})", data-ui-sref-opts="{reload:true}") Recent Day
    .teams-container(data-ng-if="queue.shouldShowTeams()")
      hr
      h5 Teams

      ul.list-unstyled
        li
          | Team Members:&nbsp;
          span.badge {{queue.stats.teamMembers}}
        li
          | Active Members:&nbsp;
          span.badge {{queue.stats.activeMembers}}
    button.btn.btn-block.btn-success(type="button",data-ui-sref="queue.create") New
  .col-xs-12.col-sm-10
    div(data-ui-view="")
