div
  h5 {{queueItem.label}}
  .row
    .col-xs-6
      span.fa.fa-fw.fa-calendar
      | &nbsp;
      span(data-time-ago="queueItem.createdAt",time-ago-prefix="Created") 
    .col-xs-6(data-ng-if="!isSummary()")
      span.fa.fa-fw.fa-flag
      | &nbsp;{{queue.friendlyStatus(queueItem)}}
  .row(data-ng-if="!isSummary()")
    .col-xs-6
      span.fa.fa-fw.fa-calendar
      | &nbsp;
      span(data-time-ago="queueItem.updatedAt",time-ago-prefix="Updated")
    .col-xs-6
      .ellipsis
        span.fa.fa-fw.fa-users
        | &nbsp;{{queue.friendlyAssignedGroup(queueItem)}}
  .row(data-ng-if="!isSummary()")
    .col-xs-6
      span.fa.fa-fw.fa-clock-o
      | &nbsp;
      span(data-time-ago="queue.friendlyDueDate(queueItem)",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(queueItem))}")
    .col-xs-6
      .ellipsis
        span.fa.fa-fw.fa-user
        | &nbsp;{{queue.friendlyAssignedName(queueItem)}}
  .row
    .col-xs-12
      p.well-details {{queue.friendlySummary(queueItem)}}