.row
  .col-sm-2.col-xs-12(data-ng-class="{'hidden-xs': !queue.shouldShowFilters()}",fixed-height="",fh-bottom-pad="70")
    button.btn.btn-primary.btn-xs.visible-xs(type="button",data-ng-click="queue.showList()")
      span.fa.fa-mail-forward
    .form-group
      strong Filter:
      button.btn.btn-xs.btn-link.pull-right(data-ng-click="queue.refresh()")
        span.fa.fa-fw.fa-refresh

      br
      select.form-control(data-ng-model="queue.filterName",data-ng-change="queue.changeFilter()")
        option(data-ng-if="!queue.filterIsSelectable() && queue.filterName === ''",value="") Choose Team
        option(data-ng-if="!queue.filterIsSelectable() && queue.filterName === '__show__'",value="__show__") Choose Team
        option(data-ng-repeat="filter in queue.filters | filter:{visible: true}",ng-selected="queue.isSelectedFilter(filter)",value="{{filter.name}}") {{filter.name}}
    .form-group
      strong Sort:
      br
      select.form-control(data-ng-model="queue.sortBy",data-ng-change="queue.changeSortBy()")
        option(value="created") Created
        option(value="due") Due
        option(value="updated") Updated
      br
      select.form-control(data-ng-model="queue.sortDir",data-ng-change="queue.changeSortDir()")
        option(value="desc") Descending
        option(value="asc") Ascending
        pre {{queue.assignmentType}}
    strong Assignment:
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.assignmentType.mine",data-ng-change="queue.changeAssignmentMine()")
          | Mine
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.assignmentType.others",data-ng-change="queue.changeAssignmentOthers()")
          | Assigned
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.assignmentType.none",data-ng-change="queue.changeAssignmentNone()")
          | Unassigned
    br
    br
    strong State:
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.stateActive",data-ng-change="queue.changeStateActive()")
          | Active
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.stateInactive",data-ng-change="queue.changeStateInactive()")
          | Inactive
    .form-group
      .checkbox
        label
          input(type="checkbox",data-ng-model="queue.closedToday",data-ng-change="queue.changeClosedToday()")
          | Closed Today
    hr
    button.btn.btn-block.btn-tertiary(type="button",data-ng-click="queue.newItemModal()") New
  .col-xs-12.col-sm-10
    div(data-ui-view="")
