h3(data-ng-if="!createList.isFormLoaded()") Start new work item
h3(data-ng-if="createList.isFormLoaded()") {{createList.loadedForm.name}}
  button.btn.btn-xs.btn-link(href="",data-ng-click="createList.unloadForm()") #[small Cancel]

.row
  .col-sm-3.col-xs-12(data-ng-hide="createList.isFormLoaded()")
    ul.nav.nav-pills.nav-stacked
      li(data-ng-repeat="team in createList.myTeams",data-ui-sref-active="active")
        a(href="",data-ui-sref="queue.create.team({activeTeam: team})") {{team}}
  .col-sm-9.col-xs-12(data-ng-hide="createList.isFormLoaded()")
    div(data-ui-view="")
      .list-group
          .list-group-item
            h4.list-group-item-heading Select a team
            p Once you select a team you will see a list of work items available.

  .col-xs-12
    #formContainer
