//.row.visible-xs(data-ng-if="queue.isListView()")
  .col-xs-12
    select.queue-dropdown.form-control.visible-xs(data-ng-options="filter.name as filter.name for filter in queue.filters",data-ng-model="queue.filterName",data-ng-change="queue.changeFilter()")
.row
  .col-xs-2.hidden-xs(fixed-height="",fh-bottom-pad="70")
    ul.nav.nav-pills.nav-stacked
      li(data-ng-repeat="filter in queue.filters",data-ng-class="{'active': queue.filterName === filter.name}")
        a.ellipsis(href="",data-ui-sref="queue.by({filterName: filter.name})", data-ui-sref-opts="{reload:true}") 
          span {{filter.name}}
          //span.pull-right.badge(data-ng-bind="queue.filterChangeCount()")
  .col-xs-12.col-sm-10
    div(data-ui-view="")
