.panel.panel-primary
  .panel-heading
    h5.panel-title
      button.btn.btn-primary.btn-xs(type="button",data-ui-sref="queue.by.details.summary")
        span.fa.fa-fw.fa-reply
      | &nbsp;{{vm.item.label}}
      small.pull-right ({{queue.friendlyStatus(vm.item)}})
  .panel-body
    .row(data-ng-if="queue.hasDiscussion(vm.item)")
      .col-xs-12
        response-issue-view(response-server="{{vm.responseServer}}", current-issue-id="{{queue.responseGuid(vm.item)}}", embed-padding="70")
