.panel.panel-default.row-cards
  .panel-heading
    | {{vm.isReviewing() ? 'Reviewing' : 'Working'}}&hellip;
    button.pull-right.btn.btn-xs.btn-link(data-ui-sref="queue.by.details.summary") Cancel
  .panel-body
    #workContainer
