.list-group
  a.list-group-item(href="",data-ng-repeat="form in vm.filteredForms",data-ng-click="vm.loadForm(form)")
    h4.list-group-item-heading {{form.name}}
    p(data-ng-if="form.description") {{form.description}}
  .list-group-item(data-ng-if="vm.filteredForms.length < 1 && vm.activeTeam === ''")
    h4.list-group-item-heading Select a team
    p Once you select a team you will see a list of work items available.
  .list-group-item(data-ng-if="vm.filteredForms.length < 1 && vm.activeTeam !== ''")
    h4.list-group-item-heading No work items available.
    p The currently selected team does not have any work items available.
