.panel.panel-primary
  .panel-heading
    h5.panel-title
      a(data-ui-sref="queue.by.details.summary")
        span.fa.fa-fw.fa-arrow-left
      | &nbsp;{{vm.item.label}}
      status-label.pull-right(data-status="queue.friendlyStatus(vm.item)")
  .panel-body
    .row(data-ng-if="queue.hasDiscussion(vm.item)")
      .col-xs-12
        response-issue-view(response-server="{{vm.discussionServer}}", current-issue-id="{{queue.discussionGuid(vm.item)}}", embed-base="vm.embedBase", embed-padding="70")
