div
  div(data-ng-if="isResponse()", style="margin: 1em;")
    response-server(base="responseServer", watch-issue="queueItem.values['Response GUID']")
      issue-summary(summary-issue="$parent.response.issue", current-user="$parent.response.currentUser")
  div(data-ng-if="!isResponse()",data-ui-sref="queue.by.details.summary({itemId: queueItem.id})")
    h5 {{queueItem.label}}&nbsp;
      span.pull-right(data-ng-if="!isSummary()") ({{queue.friendlyStatus(queueItem)}})
    .row
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="queueItem.createdAt",time-ago-prefix="Created")
    .row(data-ng-if="!isSummary()")
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="queueItem.updatedAt",time-ago-prefix="Updated")
    .row(data-ng-if="!isSummary()")
      .col-xs-12
        span.fa.fa-fw.fa-clock-o
        | &nbsp;
        span(data-time-ago="queue.friendlyDueDate(queueItem)",time-ago-prefix="Due",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(queueItem))}")
    //- Person info for non-list views.
    .row(data-ng-if="!isSummary() && !isListView()")
      .col-xs-12(data-uib-tooltip="{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}")
        //-.ellipsis(data-ng-if="!queue.hasTeamsKapp()")
          span.fa.fa-fw.fa-users
          | &nbsp;{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}
        .ellipsis
          span.fa.fa-fw.fa-users
          | &nbsp;
          span(data-ng-if="!shouldTeamLink()") {{queue.friendlyAssignedTeam(queueItem)}}
          a(data-ng-if="shouldTeamLink()",href="{{queue.getTeamLink(queue.friendlyAssignedTeam(queueItem))}}",data-ng-click="$event.stopPropagation()") {{queue.friendlyAssignedTeam(queueItem)}}
          | &nbsp;>&nbsp;
          span(data-ng-if="!shouldUserLink()") {{queue.friendlyAssignedName(queueItem)}}
          a(data-ng-if="shouldUserLink()",href="{{queue.getUserLink(queue.friendlyAssignedUsername(queueItem))}}",data-ng-click="$event.stopPropagation()",target="_blank") {{queue.friendlyAssignedName(queueItem)}}
    //- Person info for small list views
    .row.hidden-md.hidden-lg(data-ng-if="!isSummary() && isListView()")
      .col-xs-12(data-uib-tooltip="{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}")
        .ellipsis
          span.fa.fa-fw.fa-users
          | &nbsp;
          span(data-ng-if="!shouldTeamLink()") {{queue.friendlyAssignedTeam(queueItem)}}
          a(data-ng-if="shouldTeamLink()",href="{{queue.getTeamLink(queue.friendlyAssignedTeam(queueItem))}}",data-ng-click="$event.stopPropagation()") {{queue.friendlyAssignedTeam(queueItem)}}
          | &nbsp;>&nbsp;
          span(data-ng-if="!shouldTeamLink()") {{queue.friendlyAssignedName(queueItem)}}
          a(data-ng-if="shouldTeamLink()",href="{{queue.getUserLink(queue.friendlyAssignedUsername(queueItem))}}",data-ng-click="$event.stopPropagation()",target="_blank") {{queue.friendlyAssignedName(queueItem)}}
    //- Team info large list views (not a summary and a list view).
    .row.visible-md.visible-lg(data-ng-if="!isSummary() && isListView()")
      .col-xs-12(data-uib-tooltip="{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}")
        .ellipsis
          span.fa.fa-fw.fa-users
          | &nbsp;
          span(data-ng-if="!shouldTeamLink()") {{queue.friendlyAssignedTeam(queueItem)}}
          a(data-ng-if="shouldTeamLink()",href="{{queue.getTeamLink(queue.friendlyAssignedTeam(queueItem))}}",data-ng-click="$event.stopPropagation()") {{queue.friendlyAssignedTeam(queueItem)}}
    //- Person info large list views (not a summary and a list view).
    .row.visible-md.visible-lg(data-ng-if="!isSummary() && isListView()")
      .col-xs-12
        .ellipsis
          span.fa.fa-fw.fa-user
          | &nbsp;
          span(data-ng-if="!shouldUserLink()") {{queue.friendlyAssignedName(queueItem)}}
          a(data-ng-if="shouldUserLink()",href="{{queue.getUserLink(queue.friendlyAssignedUsername(queueItem))}}",data-ng-click="$event.stopPropagation()",target="_blank") {{queue.friendlyAssignedName(queueItem)}}
    .row(data-ng-if="isSummary()")
      .col-xs-12
        .ellipsis
          span.fa.fa-fw.fa-user
          | &nbsp;
          span(data-ng-if="!shouldUserLink()") {{queue.friendlyAssignedName(queueItem)}}
          a(data-ng-if="shouldUserLink()",href="{{queue.getUserLink(queue.friendlyAssignedUsername(queueItem))}}",data-ng-click="$event.stopPropagation()",target="_blank") {{queue.friendlyAssignedName(queueItem)}}
    .row
      .col-xs-12
        p.well-details {{queue.friendlySummary(queueItem)}}
    .row(data-ng-if="queue.hasCompleted(queueItem) && !isListView() && !details.isOpen()")
      .col-xs-12
        h5.item-header Resolution
        .well.well-details {{queue.friendlyCompleted(queueItem)}}
