.panel.panel-default.row-cards
  .panel-heading
    | {{vm.isReviewing() ? 'Reviewing' : 'Working'}}&hellip;
    button.pull-right.btn.btn-xs.btn-default(data-ui-sref="queue.by.details.summary")
      span.fa.fa-fw.fa-times
  .panel-body
    div(data-ng-if="!details.isMine()")
      h4 This item is not assigned to you.
    #workContainer
