// Pad the top of the body so that the navbar doesn't overlap it.
body {
  padding-top: 80px;
}

.filter-name-edit {
  padding-bottom: 1em;
}

.queue-pager {
  margin: 0px;
}

@import "scss/draggables";
@import "scss/queue";
