@import "scss/variables";
@import '~font-awesome/scss/font-awesome.scss';

// Pad the top of the body so that the navbar doesn't overlap it.
body {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.app-container {
  padding-top: 1em;
}

.filter-name-edit {
  padding-bottom: 1em;
}

.queue-pager {
  margin: 0px;
}

.discuss-panel {
  margin-bottom: 0px;
  .panel-body {
    padding-bottom: 0px;
  }
}

.kapp-name {
  padding-left: 4px;
}

.filter-rule {
  margin-top: 3px;
  margin-bottom: 3px;
}

.hidden-block {
  visibility: hidden;
}

@import "scss/mixins";
@import "scss/type";
@import "scss/draggables";
@import "scss/queue";
@import "scss/buttons";
@import "scss/forms";
@import "scss/modals";
